# ROS 2 / colcon build artifacts
build/
install/
log/

# Python caches
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Editor / OS
.vscode/
.idea/
*.swp
*~
.DS_Store
src/perception/models/RLD_best.pth
src/perception/models/UFLD_best.pth
